.button {
    width: 176px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #3A7CFF;
    box-sizing: border-box;
    border-radius: 6px;
    background: #FFFFFF;

    font-family: 'Roboto medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;

    color: #3A7CFF;
}

.button_primary {
    background: #3A7CFF;
    border-color: #3A7CFF;
    color: #FFFFFF
}



