.filters {
  width: 360px;
  min-width: 360px;
  border-right: 1px solid #BCDBEC;
  padding: 15px 20px 0 0;
  overflow: hidden;
}

.filters_hidden {
  width: 0;
  min-width: 0;
  border: none;
  padding: 0;
}

.filters__title {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  font-size: 24px;
  line-height: 18px;
  color: #AFB5C1;
}

.filters__close-filters-button {
  height: 16px;
  width: 15px;
  overflow: hidden;
}

.filters__act-buttons-wrapper {
  position: absolute;
  bottom: 3%;
  width: 340px;
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
}

.filters__act-buttons-wrapper_hidden {
  display: none;
}

.filters__act-button {
  width: 150px;
  height: 35px;
}

@media screen and (max-height: 768px) {
  .filters_hidden {
    width: 0;
    min-width: 0;
  }

  .filters__title {
    font-size: 20px;
  }
}
