.Multi-select-container {
	width: auto;
	margin-top: 10px;
	border-top: none;
	border-radius: 10px;

	.Multi-select__control {
		padding: 0;
		height: 45px;
		border-radius: 10px;
		background-color: #ffffff;
		box-shadow: none;
		transition: none;

		&:hover {
			border-color: #dadada;
		}
	}

	.Multi-select__value-container {
		display: flex;
		flex-wrap: nowrap;
	}

	.Multi-select__indicators {

		.custom-multi-select-indicator {
			z-index: 10;
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			left: 0;
			top: 252px;
			width: 100%;
			height: 45px;
			margin-left: -1px;
			font-size: 16px;
			font-weight: bold;
			color: #ffffff;
			border: solid 1px #47b3ac;
			background-color: #47b3ac;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}

		.custom-select-indicator {
			width: 25px;
			height: 25px;
			background-image: url('/src/client/images/sprite.svg#arrow-down');
			background-position: center;
			background-repeat: no-repeat;
		}

		.custom-select-indicator-error {
			background-image: none;
		}

		.custom-select-indicator-success {
			background-image: none;
		}
	}

	.Multi-select__control--is-focused {
		border-color: #47b3ac;
		transition: none;

		&:hover {
			border-color: #47b3ac;
		}
	}

	.Multi-select__multi-value__remove {
		display: none;
	}

	.Multi-select__single-value {
		margin-left: 12px;
		border: none;
		font-size: 16px;
		font-weight: bold;
		color: #47b3ac;
	}

	.Multi-select__option {
		position: relative;
		color: #212121;
		font-size: 16px;
		font-weight: 600;
		font-style: normal;
		padding-left: 20px;

		&:after {
			content: '';
			display: block;
			position: absolute;
			right: 20px;
			top: 17%;
			width: 21px;
			height: 21px;
			border-radius: 30px;
			border: 1px solid #dadada;
		}
	}

	.Multi-select__option:hover {
		background-color: #DEEBFF;
	}

	.Multi-select__option--is-selected {
		background-color: #FFFFFF;

		&:after {
			content: '';
			display: block;
			position: absolute;
			right: 20px;
			top: 17%;
			border: none;
			background-image: none;
		}
	}

	.Multi-select__option--is-selected:hover {
		color: #000000;
	}

	.Multi-select__placeholder {
		color: #a3a3a3;
		font-size: 15px;
		margin-left: 12px;
	}

	.Multi-select__input {
		margin-left: 10px;
	}

	.Multi-select__menu {
		position: absolute;
		top: 29px;
		z-index: 10;
		border: solid 1px #47b3ac;
		border-top: none;
		box-shadow: none;
		border-radius: 0;
		background-color: #ffffff;
	}

	.Multi-select__menu-list {
		position: relative;
		max-height: 215px;
	}

	.Multi-select__multi-value {
		background: none;

		&:first-child {
			margin-left: 12px;
		}
	}

	.Multi-select__multi-value:not(:nth-last-child(-1n+2)) {
		.Multi-select__multi-value__label:after {
			content: ',';
			border: none;
			font-size: 16px;
			font-weight: bold;
			color: #47b3ac;
		}
	}

	.Multi-select__multi-value__label {
		margin: 0;
		padding: 0;
		border: none;
		font-size: 16px;
		font-weight: bold;
		color: #47b3ac;
	}

	.Multi-select__menu-list::-webkit-scrollbar {
		width: 3px;
	}
;

	.Multi-select__menu-list::-webkit-scrollbar-track {
		background: #FFFFFF;
	}

	.Multi-select__menu-list::-webkit-scrollbar-thumb {
		height: 40px;
		border-radius: 3px;
		background: #dadada;
	}
}
