.table-sticky-header {
    text-align: start;
    font-weight: normal;
    color: #5E6065;
    position: sticky;
    top: 0;
    z-index: 1;
    min-width: 140px;
    background-color: #FFFFFF;

    &:first-child {
        min-width: 20px;
    }

    &:nth-child(2) {
        min-width: 80px;
    }

    &:before, &:after {
        left: 0;
        width: 100%;
        content: '';
        position: absolute;
    }

    &:before {
        top: 0;
        border-top: 1px solid #DEE4F0;;
    }

    &:after {
        top: 30px;
        border-top: 1px solid #DEE4F0;;
    }
}

.table-sticky-header_narrow {
    min-width: 50px;
}

@media screen and (max-height: 768px) {
    .table-sticky-header {
        font-size: 13px;
        min-width: 130px;

        &:after {
            top: 26px;
        }
    }

    .table-sticky-header_narrow {
        min-width: 50px;
    }
}
