.header {
  display: flex;
  height: 40px;
  position: sticky;
  top: 0;
  background: #FFFFFF;
  z-index: 1;
}

.header__tricolor-icon {
  padding-top: 15px;
}

.header__button-icon {
  width: 10px;
  height: 16px;
  transform: rotate(-90deg);
  margin-left: 65px;
}

.header__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #D8DDE6;
}

.header__buttons-wrapper {
  display: flex;
}

.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;

  &:hover {
    color: #5E6065;
    background: #EBF2FF;
  }
}

.header__button_active {
  border-bottom: 2px solid #3A7CFF;
  background-color: #EBF2FF;
  color: #000000;
}

.header__login-information {
  display: flex;
  align-items: center;
}

.header__user-name {
  width: 270px;
  height: 20px;
  font-size: 16px;
}

.header__logout-button {
  display: flex;
  align-items: center;
  color: #AFB5C1;
  font-size: 16px;
  line-height: 22px;
}

.header__logout-button-icon {
  width: 16px;
  height: 17px;
  margin-left: 10px;
}
