.change-status-popup {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.change-status-popup_stretched {
  width: 620px;
  height: 200px;
}

.change-status-popup__status-list {
  margin: 30px auto 0 auto;
  padding: 0;
  overflow-x: hidden;
}

.change-status-popup__title {
  padding-left: 30px;
  font-weight: normal;
  font-size: 24px;
}

.change-status-popup__dividing-line {
  width: 100%;
  border: 1px solid #DEE4F0;
  margin-top: 20px;
}

.change-status-popup__confirm-button {
  width: 145px;
  align-self: center;
  margin-top: 20px;
}
